@{
    ViewData["Title"] = "تماس با ما";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<h3 class="text-center">@ViewData["Message"]</h3>
<div class="text-center">
    <address class="text-center">
        ایران<br />
        تهران<br />
        <abbr title="Phone" class="text-center">تلفن:</abbr>
        12345678
    </address>
</div>
<address class="text-center">
    <strong>پشتیبانی:</strong> <a href="mailto:ne3mer@gmail.com">ne3mer@gmail.com</a><br />
    <strong>مارکتینگ:</strong> <a href="mailto:ne3mer@gmail.com">ne3mer@gmail.com</a>
</address>
