@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
   
    <nav id="cookieConsent" class="navbar navbar-dark bg-dark fixed-bottom">
        <p class="navbar-text">
            این سایت برای ذخیره اطلاعات شما از کوکی ها استفاده می کند.
        </p>
        <div class="navbar-right">
            <a class="btn btn-info btn-sm" href="/Home/Privacy">
                <i class="fab fa-readme align-middle"></i> بیشتر بدانید
            </a>
            <button type="button" class="btn btn-success btn-sm" data-cookie-string=".AspNet.Consent=yes; expires=Mon, 11 May 2020 10:54:05 GMT; path=/; samesite=lax">
                <i class="fas fa-check align-middle"></i> می پذیرم
            </button>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").style.display = "none";
            }, false);
        })();
    </script>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").style.display = "none";
            }, false);
        })();
    </script>
}